.footer {
    height: 100px;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo {
    width: 50px !important;
    height: 65px !important;
}
.footer-text{
    font-weight: bold;
    font-size: 12px;
}