<div class="wrap">  
        <div class="product-item" *ngFor="let product of productList" >
            <img class="photo" src="{{product.photo}}">
            <h4>{{product.name}}</h4>
            <p>Price: {{product.price}}</p>
            <div>
                <button type="button" class="btn btn-success" (click)="buy(product)">Buy</button>
                <button type="button" class="btn btn-success"  (click)="getView(product.id)">View</button>
            </div>  
        </div>
    </div>