
<form>
        <div class="form-group">
          <label for="exampleInputEmail1">What is it cat?</label>
          <input #nameP [(ngModel)]="newProduct.name" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="product"  placeholder="Write his type">
    </div>
    
    <div class="form-group">
        <label for="exampleInputEmail1">What is it price?</label>
        <input #price [(ngModel)]="newProduct.price" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="product"  placeholder="100">
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">How does it look?</label>
      <input #photo [(ngModel)]="newProduct.photo" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="product"  placeholder="Add photo">
  </div>
      
        
    
        <button  class="btn btn-primary" (click)="addProduct(nameP, price, photo)">Submit</button>
      </form>