<h1>Cats For Sale</h1>
<!-- <div class="show">
    <img class="show-photo"  src="{{selectedProduct?.photo}}" (click)="selectProduct(null)">
</div>
<div class="wrap">  
    <div class="product-item" *ngFor="let product of productList" >
        <img class="photo" src="{{product.photo}}">
        <h4>{{product.name}}</h4>
        <p>Price: {{product.price}}</p>
        <button type="button" class="btn btn-success" (click)="selectProduct(product)">Buy</button>
        <button type="button" class="btn btn-success">View</button>
    </div>
</div> -->

<app-item (itemData)="log($event)" [photo]="'product.photo'" [name]="'product.name'" [price]="'product.price'"></app-item>
