<p class="welcome">Welcome, dear friends!!!!</p>

<p><strong>Fun Cat Facts</strong><br></p>
<p>Check out these fun cat facts. Learn  about cats as pets, their unique behavior, how long they sleep and much more.</p>
<p>Read on and enjoy the wide range of interesting facts about cats and kittens.</p>


    <ul>
    <li>
        <p>Cats are one of, if not the most, popular pet in the world.</p>
    </li>
  <li>
        <p>There are over 500 million domestic cats in the world.</p>
  </li>
  <li>
        <p>Cats and humans have been associated for nearly 10000 years.</p>
  </li>
  <li> 
        <p>Cats conserve energy by sleeping for an average of 13 to14  hours a day.</p>
  </li>
  <li>
        <p>Cats have flexible bodies and teeth adapted for hunting small  animals such as mice and rats.</p>
  </li>
  <li>
        <p>A group of cats is called a clowder, a male cat is called a  tom, a female cat is called a molly or queen while young cats are called  kittens.</p>
  </li>
  <li>
        <p>Domestic cats usually weigh around 4&nbsp;kilograms  (8&nbsp;lb&nbsp;13&nbsp;oz) to 5&nbsp;kilograms (11&nbsp;lb&nbsp;0&nbsp;oz).</p>
  </li>
  <li>
        <p>The heaviest domestic cat on record is 21.297&nbsp;kilograms  (46&nbsp;lb&nbsp;15.2&nbsp;oz).</p>
  </li>
  <li>
        <p>Cats can be lethal hunters and very sneaky, when they walk  their back paws step almost exactly in the same place as the front paws did  beforehand, this keeps noise to a minimum and limits visible tracks.</p>
  </li>
  <li>
        <p>Cats have powerful night vision, allowing them to see at  light levels six times lower than what a human needs in order to see.</p>
  </li>
  <li>
        <p>Cats also have excellent hearing and a powerful sense of  smell.</p>
  </li>
  <li>
        <p>Older cats can at times act aggressively towards kittens.</p>
  </li>
  <li>
        <p>Domestic cats love to play, this is especially true with  kittens who love to chase toys and play fight. Play fighting among kittens may  be a way for them to practice and learn skills for hunting and fighting.</p>
  </li>
  <li>
        <p>On average cats live for around 12 to 15 years.</p>
  </li>
  <li>
        <p>Cats spend a large amount of time licking their coats to  keep them clean.</p>
  </li>
  <li >
        <p class="style33">Feral cats are often seen as pests and threats to native animals.</p>
  </li>
</ul>
