<nav class="nav">
        <ul>
            <li>    
                <p routerLink="/home"
                 routerLinkActive="active"
                 class="">Home</p>
            </li>
            <li>    
                <p routerLink="/product" 
                routerLinkActive="active"
                class="">Table</p>
            </li>
            <li>    
                <p routerLink="/form"
                 routerLinkActive="active" 
                 class="">Form</p>
            </li>
            

        </ul>
    
    
    </nav>