nav {
    background-color: #c7c7c7;
    height: 100%;
    width: 200px;
}
li {
    list-style: none;
}
p {
    font-size: 18px;
    font-weight: bolder;
    margin: 3px;
}

.active {
    color: white;
}